html {
    scroll-behavior: smooth;
    height: 100%;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #2c3e50;
}

nav {
    background: #2c3e50;
    height: 100px;
    width: 100%;
    position: fixed;
    transition: height 0.5s ease;
}

.navbar {
    transition: background-color 0.5s ease, height 0.5s ease;
}

.navbar-transparent {
    background-color: transparent;
}

.navbar-shrink {
    height: 60px; /* Set the height for the shrunk navbar */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.logo {
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    transition: margin-top 0.5s ease, margin-left 0.5s ease, font-size 0.5s ease;
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: font-size 0.3s ease;
}

a.active,
a:hover {
    background: #1b9bff;
    transition: 0.5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
    left: 0;
}

.welcome {
    background-image: url(Kepek/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 190px;
}

.welcome p {
    text-align: center;
    color: white;
}

.welcome hr {
    width: 15%;
    margin: auto;
    color: #ffffff4b;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.marketing {
    display: flex;
    justify-content: center; /* Középre igazítás */
    align-items: center;
    flex-wrap: wrap; /* Hogy a rugalmas átrendeződés lehetővé váljon */
    padding-top: 100px;
}

.marketing .item {
    margin: 0 10px; /* Az elemek közötti távolság beállítása */
    text-align: center;
    animation: slideInUp 1s ease-in-out; /* Az animáció hozzáadása */
}

.marketing img {
    height: 12rem;
}

.marketing p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.item {
    padding: 80px; /* Eltávolítjuk a paddingot, hogy ne legyen extra távolság */
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.services {
    background-color: #fff;
    background-image: url(Kepek/LogoHatter15.png);
    background-size: 90%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 80vh;
    display: flex;
    justify-content: center; /* Középre igazítás */
    align-items: center;
    flex-wrap: wrap; /* Hogy a rugalmas átrendeződés lehetővé váljon */
}

.services h1 {
    color: #2c3e50;
    text-shadow: 2px 2px #2c3e5030;
    margin-top: 200px;
    margin-bottom: 50px;
}

.services .item {
    margin: 0 10px; /* Az elemek közötti távolság beállítása */
    text-align: center;
    animation: slideInUp 1s ease-in-out; /* Az animáció hozzáadása */
}

.services img {
    height: 8rem;
}

.services h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.services p {
    font-size: 1rem;
    font-weight: bold;
}

.services .item {
    padding: 0px;
    /*background-color: rgba(255, 0, 0, 0.416);*/
    height: 350px;
    width: 250px;
}
.about {
    background-color: #2c3e50;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.about h1 {
    color: #ffffff;
    text-shadow: 2px 2px #abacae30;
    margin-top: 200px;
    margin-bottom: 50px;
}
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .marketing {
        flex-direction: column;
    }

    .marketing .item {
        margin: 10px 0; /* Függőleges távolság beállítása */
    }

    .item {
        padding: 20px; /* Csökkentjük a paddingot, hogy szebben nézzen ki kisebb képernyőn */
    }

    .services .item {
        /*background-color: rgba(255, 0, 0, 0.416);*/
        height: 300px;
        width: 350px;
        margin: 20px 0;
    }
    .services h1 {
        font-size: 2.2rem;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
        margin-right: 10px;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 15px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

nav.shrink {
    height: 60px;
}

nav.shrink .logo {
    margin-top: 15px;
    margin-left: 5px;
}

nav.shrink ul li a {
    line-height: 60px;
}

nav.shrink .checkbtn {
    line-height: 60px;
}

.rj {
    width: 35px;
}

nav ul li.close-icon {
    display: none;
}

nav #check:checked ~ ul li.close-icon {
    display: block;
    float: right;
    margin-right: 20px;
    line-height: 5px;
}

nav #check:checked ~ ul li.close-icon i {
    color: white;
    font-size: 30px;
}

nav ul li.close-icon {
    position: absolute;
    top: 0;
    right: 20px;
}

nav ul li.close-icon i {
    color: white;
    font-size: 20px;
}

/* Adjustments for iPhone 6 */
@media only screen and (max-device-width: 375px) {
    .logo {
        width: 300px; /* Adjust logo size */
        margin-top: 10px; /* Increase top margin */
        margin-left: 10px; /* Adjust left margin */
    }
    .welcome h1 {
        font-size: 2rem;
    }

    .checkbtn {
        margin-right: 5px; /* Adjust margin for hamburger menu */
    }
}

/* Az animáció definíciója */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.slide-in {
    animation: slideInUp 1s ease-in-out;
}
